.container {
  width: 518px;

  position: absolute;
  top: 80px;
  left: 29%;
  z-index: 100;

  border-radius: 32px;

  background: #e9e7e9;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);

  overflow: hidden;
}

.headerLayout {
  padding: 2rem 2rem 0 2rem;
}

.layout {
  padding-inline: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  background: #f8f6f8;

  border-radius: 0px 0px 32px 32px;
}

.buttons {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  flex: 1;

  padding: 0.75rem 2rem;

  font-weight: 700;
  font-size: 22px;

  color: #ffffff;

  border-radius: 10px;

  cursor: pointer;
}

.btn.gray {
  font-weight: 500;
  font-size: 18px;
}
