.progressBar {
  position: relative;
  width: 100%;

  margin-top: 2rem;

  display: flex;
  align-items: center;
}

.circle {
  width: 36px;
  height: 36px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 6px solid #d9d9d9;
  border-radius: 50%;

  font-weight: 700;
  font-size: 14px;

  color: #ffffff;

  background: #ff9f2c;
}

.middle {
  position: absolute;
  left: 198px;
}

.barBackground {
  position: relative;
  z-index: 0;
  flex-grow: 1;
  height: 12px;

  margin: 0 -5px;

  border: 3px solid #d9d9d9;
  background-color: #e0e0e0;
}

.barFill {
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-color: #ff7a00;
}
