.dateBox {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.label {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 8px;

  background: #e9e7e9;
}

.times {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.time {
  flex: 1;
  padding: 0.5rem 0.25rem;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background: #e9e7e9;
}

.timeImg {
  width: 19px;
  height: 19px;
}

.arrow {
  width: 16px;
  height: 16px;
}
