.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.label {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 8px;

  background: #e9e7e9;
}

.input::placeholder {
  font-weight: 500;
  font-size: 12px;

  color: #8d8b8d;
}
