ul {
  list-style: none;
}

.selectContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
}

.selectWrapper {
  position: relative;

  width: 100%;
}

.select {
  padding: 0.5rem 0.75rem;

  font-size: 14px;
  color: #333;
  background-color: #eeeeee;

  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;

  /* 기본 브라우저 화살표 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 커스텀 화살표 아이콘 (SVG) */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;

  transition: all 0.2s;
}

.select.active {
  color: #000000;
}

.select.placeholder {
  color: #999;
}

.select:focus {
  background-color: #e0e0e0;
  /* box-shadow: 0 0 0 2px #ff6b00; */
}

.options {
  position: absolute;
  z-index: 100;
  top: 28px;

  width: 100%;

  border-radius: 8px;
  background: #eeeeee;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  overflow: hidden;
}

.options li {
  padding: 0.25rem 0.75rem;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  /* transition: background 0.2s, color 0.2s; */
  /* border-bottom: 1px solid #f5f5f5; */
}
