.filterBox {
  width: 208px;

  padding: 0.75rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 24px;

  background: #e9e7e9;

  font-weight: 700;
  font-size: 18px;

  color: #000;

  cursor: pointer;
  transition: 0.25s ease;
}

.filterBox:hover {
  transform: scale(1.04);
}

.filterBox.active {
  background: #ff632c;

  color: #fff;
}

.filterBox.active .circle {
  background: #fff;
}

.left {
  display: flex;
}

.icon {
  width: 22px;
  height: 27px;

  fill: #ff632c;
  transition: fill 0.25s ease;
}

.icon.select {
  fill: #fff;
}

.label {
  margin-left: 1rem;
}

.menuBtn {
  display: flex;
  gap: 0.25rem;
}

.circle {
  width: 4px;
  height: 4px;

  border-radius: 50%;
  background: #000;
}

.options {
  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.optionBox {
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.check {
  width: 12px;
  height: 12px;

  margin-left: 1.25rem;

  border-radius: 50%;
  border: 2px solid #d9d9d9;
}

.check.select {
  width: 16px;
  height: 16px;

  border: none;
  background-image: url("../../assets/check.svg");
}

.option {
  font-weight: 500;
  font-size: 16px;

  color: #8d8b8d;

  cursor: pointer;
}
