.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 110px;
}

.insturctorSection,
.meetingSection {
  width: 774px;

  margin-top: 2rem;
}

.instructorCards {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meetingSection {
  margin-top: 4rem;
}

.meetingCards {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pages {
  display: flex;
  gap: 0.5rem;
}

.page {
  font-weight: 500;
  font-size: 16px;

  color: #000000;
}
