.container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 1080px;
  position: relative;
}

.section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.rightSection {
  /* height: 620px; */
  height: auto;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.alertContainer {
  width: 268px;
  height: 440px;
  /* position: absolute; */
  top: 0;
  right: 40px;
}

.insturctorSection,
.meetingSection {
  width: 774px;

  margin-top: 2rem;
}

.instructorCards {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meetingSection {
  margin-top: 4rem;
}

.meetingCards {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.bottom {
  margin-block: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.prev,
.next {
  width: 37px;
  height: 37px;

  border-radius: 8px;
  background: #e9e7e9;

  cursor: pointer;
}

.pages {
  display: flex;
  gap: 0.5rem;
}

.page {
  font-weight: 500;
  font-size: 16px;

  color: #000000;
  cursor: pointer;
}
