.sectionHeader {
  padding-inline: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  font-size: 20px;
}

.sort {
  font-size: 1rem;
  font-weight: 500;

  color: #8d8b8d;
}
