.container {
  width: 774px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  background: #f8f6f8;
  border-radius: 25px;
}

.tabBtn {
  padding: 0.5rem 2rem;

  /* background: #ff632c;
  border-radius: 25px; */

  font-weight: 700;
  font-size: 18px;

  /* color: #ffffff; */
  color: #dddddd;
}
