.container {
  width: 774px;

  margin-top: 3rem;

  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;

  background: #f8f6f8;
  border-radius: 25px;
}

.tabBtn {
  padding: 0.5rem 2rem;

  border-radius: 25px;

  font-weight: 700;
  font-size: 18px;

  color: #dddddd;

  cursor: pointer;
}

.tabBtn.active {
  background: #ff632c;

  color: #ffffff;
}
