.itemContainer {
  /* width: 740px; */
  flex: 1;

  padding: 1rem;

  display: flex;

  border: 2px solid #e9e7e9;
  border-radius: 8px;
}

.img {
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background: #ff9f2c;
}

.content {
  flex: 1;

  margin-left: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 12px;

  color: #000000;
}

.description {
  font-weight: 500;
  font-size: 10px;

  color: #000000;
}

.count {
  height: 18px;
  padding: 0.25rem 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background: #d9d9d9;

  font-weight: 500;
  font-size: 10px;

  color: #000000;
}
