.container {
  flex: 1;

  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 18px;
  background: #e9e7e9;
}

.img {
  width: 109px;
  height: 80px;

  border-radius: 12px;

  background: #fff;
}

.contentBox {
  flex: 1;
}

.name {
  font-weight: 700;
  font-size: 16px;

  color: #000000;
}

.description {
  font-weight: 500;
  font-size: 14px;

  color: #8d8b8d;
}

.box {
  display: flex;
  justify-content: space-between;
}

.btnBox {
  display: flex;
  gap: 0.5rem;
}
