.itemRow {
  /* display: flex;
  justify-content: flex-end; */

  padding: 0.5rem 1.25rem;
  padding-right: 1.75rem;

  border-bottom: 1px solid #e9e9e9;

  display: grid;
  grid-template-columns: 90px 120px 140px 1.24fr 0.8fr 70px;
  align-items: center;
}

.itemRow:last-child {
  border-bottom: none;
}

.itemRow p {
  /* flex: 1; */

  font-weight: 500;
  font-size: 14px;

  color: #000000;
}

.itemRow p:nth-child(5) {
  /* flex: none; */
  width: 50px;
}

.attendanceOk {
  padding: 3px 0.5rem;

  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #2fce2a;

  background: #d5ffd6;

  font-weight: 700;
  font-size: 14px;

  color: #30b32c;
}

.attendanceNo {
  padding: 3px 0.5rem;

  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #bb2020;

  background: #ffd5d5;

  font-weight: 700;
  font-size: 14px;

  color: #bb2020;
}
