.clubContainer {
  /* height: 248px; */

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 16px;
  border: 3px solid #e9e7e9;
}
.header {
  flex: 1;

  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 16px;

  color: #000000;
}

.select {
  font-weight: 500;
  font-size: 10px;

  color: #000000;
}

.clubs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
