.container {
  display: flex;
  gap: 1.5rem;
}

.iconBox {
  /* width: 25px;
  height: 25px; */

  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: #ff632c;
}

.icon {
  width: 20px;
  height: 20px;

  fill: #fff;
}

.texts {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  font-size: 12px;

  color: #8d8b8d;
}

.content {
  font-weight: 500;
  font-size: 14px;

  color: #000000;
}
