.container {
  height: 248px;

  padding: 1rem;

  display: flex;
  gap: 4rem;

  border-radius: 16px;
  border: 3px solid #e9e7e9;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 16px;

  color: #000000;
}

.filters {
  display: flex;
}
