.profileContainer {
  height: 248px;

  /* padding: 1rem; */

  display: flex;
  gap: 4rem;

  border-radius: 16px;
  border: 3px solid #e9e7e9;
}

.profileTitle {
  margin-top: 1rem;
  margin-left: 1rem;

  font-weight: 700;
  font-size: 16px;

  color: #000000;
}

.profileGroupLeft,
.profileGroupRight {
  padding-top: 4rem;
  /* margin-bottom: 2rem; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileGroupRight {
  padding-left: 2rem;
  border-left: 2px solid #f8f6f8;
}
