.historyContainer {
  height: 314px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 16px;
  border: 3px solid #e9e7e9;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: -4px;

  font-weight: 700;
  font-size: 18px;

  color: #000000;
}

.filters {
  height: 24px;
  /* padding: 0.5rem; */

  display: flex;
  /* gap: 0.5rem; */

  border-radius: 16px;
  background: #efedef;

  font-weight: 500;
  font-size: 10px;

  color: #8d8b8d;
}

.filters div {
  width: 38px;
  /* height: 16px; */

  padding: 0.5rem 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  /* text-align: center; */
}

.all {
  border-radius: 16px;

  color: #fff;
  background: #ff632c;
}

/* .all {
} */

.historyTable {
  /* border: 2px solid #e9e7e9; */
}

.tableHeader {
  /* display: flex;
  justify-content: flex-end; */

  padding: 0.5rem 1.25rem;
  padding-right: 3rem;

  border-radius: 8px 8px 0 0;
  background: #efedef;

  display: grid;
  grid-template-columns: 90px 120px 140px 1.3fr 0.8fr 70px;
}

.tableHeader p {
  /* flex: 1; */

  font-weight: 500;
  font-size: 12px;

  color: #8d8b8d;
}

/* .tableHeader p:nth-child(5) {
  flex: none;
  width: 48px;
} */

.tableBody {
  height: 234px;

  border: 2px solid #e9e7e9;
  border-radius: 0 0 8px 8px;

  overflow-y: scroll;
}

/* .tableBody::-webkit-scrollbar {
  display: none;
} */

.tableBody::-webkit-scrollbar {
  width: 10px;
}

.tableBody::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;

  background-clip: padding-box;
  border: 2px solid transparent;
}

.tableBody::-webkit-scrollbar-track {
  background-color: transparent;

  margin-bottom: 4px;
}
