.formBox {
  width: 380px;
  padding: 40px 35px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
