
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
}

.container {
  width: 1050px;
  height: 750px;
  display: flex;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  transition: 0.35s ease;

  
}

/* 공통 레이아웃 */
.side {
  flex: 1;               /* ✅ 항상 50:50 유지 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  
  min-width: 0;  /* ✅ 내부 내용이 부모 폭을 밀어내지 못하게 */
  min-height: 0; /* ✅ 내부 내용이 부모 높이를 밀어내지 못하게 */
}

.sideContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 48px;
  box-sizing: border-box;
  position: relative;
}

/* 모드에 따라 바뀌는 배경 */
.whiteBg {
  background: #ffffff;
}

.whiteBg .Title h1 { 
  color:#1a1a1a
}
.grayBg {
  background: #E9E7E9;
}

.grayBg .Title h1 { 
  color:#8D8B8D;
}
.coralBg {
  background: #FF714D;
}

.Title {
  font-size: 35px;
  font-weight: 900;
  color: #1a1a1a;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 0;
  letter-spacing: -0.5px;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.Title h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 900;
  color: #1a1a1a;
  letter-spacing: -0.5px;
  line-height: 1;
}

.switchButton {
  font-size: 16px;
  color: #8D8B8D;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 1;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  white-space: nowrap;
  margin-left: 20px;
}

