/* loginImage 전체 스타일 */
.loginImage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: -70px 0 0 0; /* Title과 이미지 사이 간격 조정 */
  background-color: transparent;
  box-sizing: border-box;
}

/* login 이미지 스타일 */
.image{
    width: 100%;
    margin: 0;
    display: block; /* img 요소의 기본 display 설정 */
    margin-top: 120px;
}



