/* signupImage 전체 스타일 */
.loginImage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: #E9E7E9;
}

/* 타이틀과 텍스트를 묶는 컨테이너 */
.headerRow{
  display: flex;
  align-items: baseline; /* 텍스트의 하단선 기준으로 정렬 */
  margin-bottom: 1px; /* 이미지와의 간격 */
  width: 100%; /* 너비를 꽉 채워서 정렬을 제어할 수 있게 함 */
}
/* signup타이틀 */
.title {
    font-size: 32px;
    font-weight: 900;
    color: #8D8B8D;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
    margin-right: 25px;
}

/* 계정이 없나요? */
.nosignup{
    font-size: 16px;
    color: #8D8B8D;
    background-color: transparent;
    padding-bottom:0.5px;
    margin-bottom: 100px;
    line-height: 1;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;

}

/* signup 이미지 스타일 */
.image{
    /* width: 100%; */
    margin-bottom: 1px;
}


