.signupFormContainer {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
/* 폼 영역 (흰색 카드 부분) */
.signupForm {
  width: auto;
  min-width: 450px; /* 최소 너비 설정 */
  max-width: 500px; /* 최대 너비 설정 (원하는 값으로 조정) */
  padding: 60px 60px 60px 0;
  border-radius: 26px; /* 둥근 모서리 */
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: -40px; /* 폼을 위로 올림 (원하는 만큼 조정 가능) */
  box-sizing: border-box;
}


/* 각 입력 필드 그룹 (ID, PASSWORD 등) */
.inputGroup {
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
}

/* 필드 레이블 (ID, PASSWORD, 이름 등) */
.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0px;
  margin-top: 1px;
  font-family: "Pretendard";
  margin-left: 10px;
}

/* 두 입력 필드가 한 줄에 있는 그룹 (이름/전화번호, 이메일) */
.rowGroup {
  display: flex;
  gap: 8px; /* 필드 사이의 간격 */
  align-items: flex-start; /* 상단 정렬로 변경 */
  margin-top: 0;
  margin-bottom: 20px;
}

/* rowGroup 내부의 개별 필드 (이름, 전화번호, 이메일 인풋/셀렉트) */
.rowItem {
  flex: 1; /* 너비를 균등하게 분할 */
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}


/* 모든 입력 요소 (input, select) 공통 스타일 */
.inputField {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 0.9;
  box-sizing: border-box;
  color: #000000;
  background-color: #ffffff;
}

.inputField::placeholder {
  color: #8d8b8d;
  opacity: 1;
}

.inputField:focus {
  background-color: #ffffff;
  outline: none;
}

.inputWithButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 에러 메시지 스타일 */


.errorMassage {
  color: #8D8B8D;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

/* 중복확인 버튼 */
.checkButton {
  background-color: #e0e0e0;
  color: #555555;
  padding: 8px 13px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /* margin-top: 8px; */
  display: inline-block;
  width: auto;
  white-space: nowrap;
}

/* 회원가입 버튼 */
.submitButton {
  width: fit-content;
  padding: 15px 55px;
  background-color: #ff6a2c; /* 주황색 */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.2s;
  font-family: "Pretendard";
}

.submitButton:hover {
  background-color: #ff632c;
}

.emailDomainSelect {
  /* 일부 브라우저에서 기본 드롭다운 스타일 제거 */
  /* appearance: none;  */
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10px center; /* 화살표 위치 조정 */
  padding-right: 35px; /* 화살표 공간 확보 */
}

.emailDomainSelect:focus {
  background-color: #ffffff;
  outline: none;
}
