.container {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imgBox {
  width: 100%;
  height: 125px;

  margin-top: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background: #8d8b8d;
}

.img {
  width: 50%;
  height: 125px;

  text-align: center;

  color: #8d8b8d;
  font-size: 14px;
  font-weight: 500;
  line-height: 125px;
  background-color: #d9d9d9;
}

.inputBox {
  width: 100%;

  /* margin-top: 0.5rem; */

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.label {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
}

.content {
  width: 422px;
  height: 85px;

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 8px;

  background: #e9e7e9;
  font-family: inherit;

  resize: none;
}

.content::placeholder {
  font-weight: 500;
  font-size: 12px;
  color: #8d8b8d;
}
