.container {
  width: 100%;

  margin-top: 1.5rem;
  margin-bottom: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.label {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
}

.levelContainer {
  margin-top: 0.75rem;

  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

.levelBox {
  padding: 0.25rem;

  display: flex;
  justify-content: center;
  gap: 0.25rem;

  border-radius: 8px;
  background: #e9e7e9;
}

.level {
  /* flex: 1; */
  width: 6px;
  height: 18px;

  padding: 0.5rem 0.75rem;

  border-radius: 8px;

  font-weight: 500;
  font-size: 12px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  color: #ffffff;

  background: #c8c6c8;

  cursor: pointer;
  transform: 0.3s ease;
}

.level:hover {
  width: 12px;

  background: #ff9f2c;

  transform: scale(1.05);
  /* padding: 0.75rem 1rem; */
}

.level.select {
  width: 12px;

  background: #ff9f2c;

  transform: scale(1.05);
  /* padding: 0.75rem 1rem; */
}

.levelText {
  /* flex: 1; */
  position: relative;
  width: 200px;

  padding: 0.5rem 1rem;

  border-radius: 8px;

  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;

  color: #8d8b8d;

  background: #e9e7e9;
}

.levelText::before {
  content: "";
  position: absolute;
  left: -8px;

  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #e9e7e9;
}

.memberTitle {
  display: flex;
  justify-content: space-between;
}

.sub {
  font-weight: 500;
  font-size: 12px;

  color: #8d8b8d;
}

.barBackground {
  position: relative;
  z-index: 0;
  /* width: 100%; */
  height: 20px;

  margin-top: 0.75rem;
  padding: 0.25rem 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 24px;

  border: 3px solid #e9e7e9;
  background-color: #e0e0e0;
}

.staticNumber {
  z-index: 0;

  font-weight: 700;
  font-size: 16px;

  color: #8d8b8d;
}

.barFill {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  /* width: 100%; */
  height: 100%;

  border-radius: 24px;
  background-color: #ff7a00;
}

/* 드래그 핸들 (동그라미) */
.handle {
  position: absolute;
  top: 50%;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  background: #ff9f2c;
  border: 3px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 700;
  font-size: 14px;

  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.handle.left {
  transform: translate(-7%, -50%);
}

.handle.right {
  transform: translate(-96%, -50%);
}

.handle.left:hover {
  transform: translate(-7%, -50%) scale(1.1);
}
.handle.right:hover {
  transform: translate(-96%, -50%) scale(1.1);
}

.handle:active {
  cursor: grabbing;
}
