.container {
  /* width: 268px; */

  border-radius: 12px;
  background: #e9e7e9;
}

.short {
  padding: 0.5rem 0.75rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.header {
  padding: 15px;

  display: flex;
  /* gap: 15px; */
}

.imgBox {
  position: relative;
}

.circleBox {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -1px;
  left: -2px;

  border-radius: 50%;

  background: #e9e7e9;
}

.circle {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: #ff6f01;
}

.img {
  width: 43px;
  height: 43px;

  border-radius: 10px;

  background: #c8c6c8;
}

.textBox {
  width: 138px;

  margin-left: 13px;
}

.name {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
}

.place {
  width: 200px;

  margin-left: -1px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 400;
  font-size: 12px;

  color: #000000;
}

.time {
  font-weight: 400;
  font-size: 10px;

  color: #000000;
}

.bottom {
  padding: 0.5rem;

  border-radius: 0 0 8px 8px;
  background: #d9d9d9;
}
.text {
  font-weight: 400;
  font-size: 10px;

  text-align: center;
  color: #000000;
}

.btnBox {
  margin-top: 1rem;

  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.btn {
  flex: 1;
  padding: 0.5rem 1rem;

  border-radius: 8px;
  background: #f8f6f8;

  font-weight: 500;
  font-size: 12px;

  color: #343339;
}
