.categoryBtn {
  padding: 0.25rem 0.75rem;

  border: none;
  border-radius: 10.5px;

  background: #d9d9d9;

  font-weight: 500;
  font-size: 12px;

  color: #343339;
}

.categoryBtn.my {
  padding-inline: 1rem;

  border-radius: 16px;
}
