.container {
  width: 72px;
  height: 72px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  cursor: pointer;
  transition: transform 0.2 ease;
}

.container:hover {
  transform: scale(1.04);
}

.icon {
  width: 36px;
  height: 36px;

  fill: #fff;
}
