.container {
  right: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.wrap {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
