.container {
  /* position: sticky;
  top: 500px; */
  right: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.wrap {
  position: fixed;
  /* top: 500px; */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
