.modalHeader {
  display: flex;
  gap: 1rem;
}

.img {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffcc4d;
  border-radius: 50%;
}

.title {
  font-size: 22px;
}

.content {
  color: #8d8b8d;
  font-size: 16px;
}

.btn {
  width: 44px;
  height: 44px;

  margin-left: 7.5rem;
  padding-bottom: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;

  background: #c8c8c8;
  border-radius: 8px;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  background: #dcdcdc;
  transform: scale(0.95);
}
