.container {
  margin-top: 1rem;

  display: flex;

  border-radius: 10px 10px 0px 0px;

  background: #d9d9d9;
}

.toggle {
  flex: 1;
  padding-block: 1rem;
  padding-inline: 2rem;

  border-radius: 10px 10px 0px 0px;

  font-weight: 700;
  font-size: 18px;

  text-align: center;

  color: #8d8b8d;

  cursor: pointer;
  transition: transform 0.2 ease;
}

.toggle:hover {
  transform: scale(1.05);
}

.toggle.active {
  color: #ffffff;

  background: #ff632c;
}
