.container {
  /* width: 350px; */
  height: 280px;

  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 36px;

  background: #e9e7e9;
}

.img {
  width: 100%;
  height: 173px;

  border: 1px solid black;
  border-radius: 18px;
}

.contentBox {
  width: 100%;

  margin-top: 1rem;
}

.recoIcon {
  padding: 0.25rem 0.5rem;

  border: 1px solid #ff632c;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;

  color: #ff632c;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.name {
  max-width: 174px;

  font-weight: 700;
  font-size: 16px;

  color: #000000;
}

.content {
  margin-top: 0.5rem;

  font-weight: 500;
  font-size: 14px;

  color: #8d8b8d;
}

.requestBtn {
  padding: 0.4rem 0.75rem;

  background: #ff632c;
  border-radius: 13.5px;

  font-weight: 700;
  font-size: 12px;

  color: #ffffff;
}

.bottomBox {
  width: 100%;

  margin-top: 0.5rem;

  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.dates {
  display: flex;
  gap: 0.5rem;
}

.btnBox {
  display: flex;
  gap: 0.5rem;
}

.categoryBtn {
  padding: 0.25rem 0.75rem;

  border: none;
  border-radius: 10.5px;

  background: #d9d9d9;

  font-weight: 500;
  font-size: 12px;

  color: #343339;
}
