.serviceSection {
    width: 100%;
    min-height: 100vh;
    background-color: #E9E7E9;
    padding: 80px 20px;
    box-sizing: border-box;
}

.serviceContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #343339;
    text-align: center;
    margin-bottom: 16px;
}

.sectionSubtitle {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    opacity: 0.8;
    font-family: 'Inter';
    font-style: normal;
    line-height: 24px;
    text-align: center;

    color: #000000;
   



}

.cardsContainer {
    width: 100%;
    display: flex;
    gap: 72px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    position: relative;
    flex: 1;
    max-width: 371px;
    min-height: 463px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    object-fit: contain;
    width: 112px;
    height: 108px;
}

.cardTitle {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 54px;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.cardDescription {
    font-size: 0.875rem;
    font-weight: 500;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 24px;
    white-space: pre-wrap;
    font-family: 'Inter';
    line-height: 17px;
    letter-spacing: -0.05em;

}

.cardImage {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    margin-top: auto;
}

.imagePlaceholder {
    width: 100%;
    height: 100%;
    background-color: #e9e7e9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-size: 0.9rem;
}

