* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;

  /* 추가해야됨 */
  /* font-family: "Inter";
  font-style: normal; */
}

a {
  text-decoration: none;
}

input {
  outline: none;
}
button {
  border: none;
}
