* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;

  font-family: "Inter";
  font-style: normal;
}

a {
  text-decoration: none;
}

input {
  outline: none;

  font-weight: 500;
  font-size: 12px;

  color: #000000;
}
button {
  border: none;

  cursor: pointer;
}
