.coachListSection {
    width: 742px;
    margin-top: 2rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
  }
  
  .title {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin: 0;
    position: relative;
    padding-bottom: 0.5rem;
  }
  
  
  .sortOptions {
    display: flex;
    align-items: center;
  }
  
  .coachList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
