.container {
  width: 350px;

  margin-top: 2rem;

  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 0.5rem; */
  gap: 1rem;

  background: #f8f6f8;
  border-radius: 25px;

  transition: transform 0.2 ease;
}

.tabBtn {
  padding: 0.5rem 1.5rem;

  border-radius: 25px;

  font-weight: 700;
  font-size: 16px;

  color: #c3c3c3;

  cursor: pointer;
  transition: transform 0.2 ease;
}

.tabBtn:hover {
  transform: scale(1.08);
}

.tabBtn.active {
  background: #ff632c;

  color: #ffffff;
}

