.recommendedSection {
  
    margin-top: 2rem;
  }
  
  .title {
    font-weight: 700;
    font-size: 20px;
  
    color: #000000;
  }
  
  .carousel {
    margin-top: 1rem;
    width: 772px;
    position: relative;
    background-color: #F8F6F8;
  
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 23px;
  }
  
  .prevBtn {
    width: 20px;
    height: 35px;
  
    border: none;
    border-radius: 8px;
    background-color: #F8F6F8;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 37px;
  }
  
  .nextBtn {
    width: 20px;
    height: 35px;
  
    border: none;
    border-radius: 8px;
    background-color: #F8F6F8;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 37px;
  }
  
  .prevBtn img,
  .nextBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .carouselContent {
    flex: 1;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .carouselContent::-webkit-scrollbar {
    display: none;
  }
  
  .coachCard {
    padding: 1rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  
    border-radius: 17px;
  
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .coachCard.active {
    transform: scale(1.05);
  }
  
  .profileImage {
    width: 108px;
    height: 108px;
  
    border-radius: 50%;
    background: #d9d9d9;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  
  .sport,
  .region {
    font-weight: 500;
    font-size: 12px;
  
    color: #000000;
  }
  
  .name {
    font-weight: 700;
    font-size: 16px;
  
    color: #000000;
  }
  

